*{
    padding: 0px;
    gap: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

body{
    background: f4f4f4;
}

header{
    display: flex;
    padding: 20px;
    background: rgb(78, 78, 194);
    justify-content: space-around;
    border-radius: 20px;
    
}

ul{
    list-style-type: disc;
    padding-left: 40px; /* garante espaço para a bolinha */
}

#resultado {
    margin-top: 15px;
    font-weight: bold;
 }
 #resultadomedia {
    margin-top: 15px;
    font-weight: bold;
 }
 #resultadoex7 {
    margin-top: 15px;
    font-weight: bold;
 }

 label, input {
    display: block;
    margin-bottom: 10px;
}

#svar{
    color: blue;
}
#snome{
    color: red;
}

#strue{
    color: green;
}